.titol{
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    background-color: thistle;
    border: 1px solid rgba(190, 156, 199, 1);
   
}

h2{
    font-family: 'Dancing Script', cursive;
    Color: rgba(190, 156, 199, 1);
    font-size: 20;
    text-align: center;

  }

.muffin1{
    transform: rotate(-10deg);
}

.muffin2{
    transform: rotate(10deg);
}

.primer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(190, 156, 199, 1);
    
}
.botons{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
   
}



.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    padding-bottom: 10px;
    
  }
  
  .grid-item{

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(240, 169, 210, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }

footer{
    font-family: 'Dancing Script', cursive;
    background-color: thistle;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}